## add gdp and urbanization data pickle file notebook

Adds GDP (in billion USD) and Urbanization (in population percentage) columns to given tableau and hopkins augmented data.  
Contact ShuliFinley@gmail.com for questions :)

In [76]:
import pandas as pd
import numpy as np
import pickle

Import tableau and hopkins data

In [160]:
# tableau_conf_data = pd.read_csv('../augmented_datasets/tableau_conf_data.csv')
# tableau_death_data = pd.read_csv('../augmented_datasets/tableau_death_data.csv')

# hopkins_conf_data = pd.read_csv('../augmented_datasets/hopkins_conf.csv')
# hopkins_death_data = pd.read_csv('../augmented_datasets/hopkins_death.csv')

# PICKLE_PATH = '../augmented_datasets/pickles/hopkins_conf_gf0904.pkl'
# RESULT_PATH = '../augmented_datasets/pickles/hopkins_conf_gf0904_GDP_urban.pkl'

PICKLE_PATH = '../augmented_datasets/pickles/hopkins_conf_gf0904.pkl'
RESULT_PATH = '../augmented_datasets/pickles/hopkins_conf_gf0904_GDP_urban_tests.pkl'

In [78]:
hopkins_conf = pd.DataFrame()

with open(PICKLE_PATH, 'rb') as file:
#     hopkins_conf = pickle.load(file)
    hopkins_conf = pd.read_pickle(file)
hopkins_conf
    
# hopkins_conf_data.head()

                                                Province_State  \
coordinate           information
(-51.7963, -59.5236) data          Falkland Islands (Malvinas)
                     avg_d_RH                              NaN
                     avg_d_precip                          NaN
                     avg_d_tmp                             NaN
                     avg_d_wind                            NaN
...                                                        ...
(71.7069, -42.6043)  data                            Greenland
                     avg_d_RH                              NaN
                     avg_d_precip                          NaN
                     avg_d_tmp                             NaN
                     avg_d_wind                            NaN

                                   Country_Region  avg_m_tmp  avg_m_RH  \
coordinate           information
(-51.7963, -59.5236) data          United Kingdom  10.818182  76.00000
                     avg_d_RH                 NaN        NaN       NaN
                     avg_d_precip             NaN        NaN       NaN
                     avg_d_tmp                NaN        NaN       NaN
                     avg_d_wind               NaN        NaN       NaN
...                                           ...        ...       ...
(71.7069, -42.6043)  data                 Denmark -14.857143  61.12987
                     avg_d_RH                 NaN        NaN       NaN
                     avg_d_precip             NaN        NaN       NaN
                     avg_d_tmp                NaN        NaN       NaN
                     avg_d_wind               NaN        NaN       NaN

                                   avg_m_precip  avg_m_wind  Max_Cases  \
coordinate           information
(-51.7963, -59.5236) data                   0.0   29.736364        2.0
                     avg_d_RH               NaN         NaN        NaN
                     avg_d_precip           NaN         NaN        NaN
                     avg_d_tmp              NaN         NaN        NaN
                     avg_d_wind             NaN         NaN        NaN
...                                         ...         ...        ...
(71.7069, -42.6043)  data                   0.0   16.090909       11.0
                     avg_d_RH               NaN         NaN        NaN
                     avg_d_precip           NaN         NaN        NaN
                     avg_d_tmp              NaN         NaN        NaN
                     avg_d_wind             NaN         NaN        NaN

                                   first_7 last relevant date  Max_Date  ...  \
coordinate           information                                         ...
(-51.7963, -59.5236) data              NaN                     4/5/2020  ...
                     avg_d_RH          NaN                               ...
                     avg_d_precip      NaN                               ...
                     avg_d_tmp         NaN                               ...
                     avg_d_wind        NaN                               ...
...                                    ...                ...       ...  ...
(71.7069, -42.6043)  data              NaN                     4/4/2020  ...
                     avg_d_RH          NaN                               ...
                     avg_d_precip      NaN                               ...
                     avg_d_tmp         NaN                               ...
                     avg_d_wind        NaN                               ...

                                  3/29/2020  3/30/2020  3/31/2020  4/1/2020  \
coordinate           information
(-51.7963, -59.5236) data               0.0        0.0        0.0       0.0
                     avg_d_RH          80.0       75.0       68.0      79.0
                     avg_d_precip       0.0        0.0        0.0       0.0
                     avg_d_tmp          7.5        9.1       10.3       9.5
                     avg_d_wind        19.3       29.5       28.1      10.8
...                                     ...        ...        ...       ...
(71.7069, -42.6043)  data              10.0       10.0       10.0      10.0
                     avg_d_RH          90.0       79.0       73.0      60.0
                     avg_d_precip       0.0        0.0        0.0       0.0
                     avg_d_tmp         -0.9       -5.4      -12.1     -17.2
                     avg_d_wind         9.3       21.5       31.3      15.6

                                   4/2/2020  4/3/2020  4/4/2020  4/5/2020  \
coordinate           information
(-51.7963, -59.5236) data               0.0       0.0       1.0       2.0
                     avg_d_RH          61.0      89.0      80.0      83.0
                     avg_d_precip       0.0       0.0       0.0       0.0
                     avg_d_tmp         11.0      11.0       7.8       8.4
                     avg_d_wind        32.1      35.5      37.7      31.6
...                                     ...       ...       ...       ...
(71.7069, -42.6043)  data              10.0      10.0      11.0      11.0
                     avg_d_RH          49.0      64.0      55.0      45.0
                     avg_d_precip       0.0       0.0       0.0       0.0
                     avg_d_tmp        -17.9     -13.6     -12.5     -11.6
                     avg_d_wind        10.9      10.4      31.0      40.5

                                   4/6/2020  4/7/2020
coordinate           information
(-51.7963, -59.5236) data               2.0       2.0
                     avg_d_RH          76.0      58.0
                     avg_d_precip       0.0       0.0
                     avg_d_tmp          6.1      12.5
                     avg_d_wind        20.7      25.8
...                                     ...       ...
(71.7069, -42.6043)  data              11.0      11.0
                     avg_d_RH          46.0      62.0
                     avg_d_precip       0.0       0.0
                     avg_d_tmp        -10.5      -8.9
                     avg_d_wind        27.3      17.5

[16985 rows x 93 columns]

Preliminary checks on imported data

In [79]:
# Checking that our starting data has no nan country_region entries in 'data' rows
print('Original df dimensions: {}'.format(hopkins_conf.shape))
check = pd.DataFrame(hopkins_conf.xs('data', level='information', axis=0))
print('Only \'data\' rows dimensions: {}'.format(check.shape))
# check = hopkins_conf[hopkins_conf['information']=='data']
check = check[check['Country_Region'].isna()]

print('\'data\' rows with NaN Country_Region column dimensions: {}'.format(check.shape))

# check = new_hopkins_conf[new_hopkins_conf['GDP'].isna()]
# check = check[check['Country_Region'].notna()]
# print (check.shape[0])

Original df dimensions: (16985, 93)
Only 'data' rows dimensions: (3397, 93)
'data' rows with NaN Country_Region column dimensions: (0, 93)

Import gdp per country and per state data

In [80]:
# original_columns = list(hopkins_conf.columns)
# original_columns.append('GDP')
# original_columns.append('Urbanization')

# # print(original_columns)

# prev_GDP = original_columns.index('GDP')
# prev_urban = original_columns.index('Urbanization')
# new_GDP = original_columns.index('Country_Region') + 1
# new_urban = new_GDP + 1
# original_columns.insert(new_GDP, original_columns.pop(prev_GDP))
# original_columns.insert(new_urban, original_columns.pop(prev_urban))

# print (original_columns)

In [96]:
# source: https://data.worldbank.org/indicator/NY.GDP.PCAP.CD  - in current USD
gdp_country_path = '../external_datasets/GDP_per_capita_countries.csv'

# source: https://en.wikipedia.org/wiki/List_of_U.S._states_by_GDP_per_capita#cite_note-3
gdp_us_state_path = '../external_datasets/GDP_per_capita_states.csv'

#source: https://en.wikipedia.org/wiki/List_of_Chinese_administrative_divisions_by_GDP_per_capita
gdp_china_province_path = '../external_datasets/GDP_per_capita_china_provinces.csv'

# source: http://wdi.worldbank.org/table/4.2# (2018)
urban_country_path = '../external_datasets/urbanization_data.csv'

# source: US census bureau (most updated was is from 2010)
urban_us_state_path = '../external_datasets/urbanization_states.csv'

# source: https://en.wikipedia.org/wiki/Urbanization_in_China
urban_china_province_path = '../external_datasets/urbanization_china_provinces.csv'

# source: https://covidtracking.com/
tests_us_states_path = '../external_datasets/tests_us_states.csv'

In [97]:
def standardize_us_states_names(df):
    df = df.replace({
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
})
    
    return df

In [119]:
# # source: http://wdi.worldbank.org/table/4.2# (2018)
gdp_country = pd.read_csv(gdp_country_path)

# print(gdp_country.tail(20))
gdp_country.columns=['Country_Region', 'GDP']

# # source: https://www.statista.com/statistics/248023/us-gross-domestic-product-gdp-by-state/ 
gdp_us_state = pd.read_csv(gdp_us_state_path)
gdp_us_state.columns = ['Province_State', 'GDP']

gdp_china_province = pd.read_csv(gdp_china_province_path)
gdp_china_province.columns = ['Province_State', 'GDP']

# US states testing data
tests_us_state = pd.read_csv(tests_us_states_path)
tests_us_state.columns=['Province_State', 'Num of Tests']

In [120]:
gdp_all_provinces = gdp_us_state.append(gdp_china_province, ignore_index=True)
gdp_all_provinces

   Province_State      GDP
0         Alabama  45219.0
1          Alaska  73205.0
2         Arizona  48055.0
3        Arkansas  42454.0
4      California  74205.0
..            ...      ...
81        Guizhou   6233.0
82         Yunnan   5612.0
83          Gansu   4735.0
84      Hong Kong  48675.0
85          Macau  87208.0

[86 rows x 2 columns]

In [121]:
'Macau' in gdp_country.Country_Region[0]

False

Import urbanization per country and per state data

In [122]:
# source: http://wdi.worldbank.org/table/4.2# (2018)
urban_country = pd.read_csv(urban_country_path)
urban_country.columns=['Country_Region', 'Urbanization']

# source: US census bureau (most updated was is from 2010)
urban_us_state = pd.read_csv(urban_us_state_path)
urban_us_state.columns = ['Province_State', 'Urbanization']


# source: https://en.wikipedia.org/wiki/Urbanization_in_China#cite_note-10
urban_china_province = pd.read_csv(urban_china_province_path)
urban_china_province.columns = ['Province_State', 'Urbanization']

In [123]:
urban_all_provinces = urban_us_state.append(urban_china_province, ignore_index=True)
urban_all_provinces
gdp_country[gdp_country['GDP'].isna()]

                                        Country_Region  GDP
0                                                Aruba  NaN
25                                             Bermuda  NaN
36                                     Channel Islands  NaN
50                                      Cayman Islands  NaN
76                                       Faroe Islands  NaN
82                                           Gibraltar  NaN
89                                           Greenland  NaN
106                                        Isle of Man  NaN
108                                     Not classified  NaN
145                           St. Martin (French part)  NaN
159  Middle East & North Africa (excluding high inc...  NaN
170                                      New Caledonia  NaN
191                          Korea, Dem. People’s Rep.  NaN
197                                   French Polynesia  NaN
214                                        South Sudan  NaN
223                          Sint Maarten (Dutch part)  NaN
236  Middle East & North Africa (IDA & IBRD countries)  NaN
254                              Virgin Islands (U.S.)  NaN

In [124]:
def china_check(urban_or_gdp):
    check = hopkins_conf[hopkins_conf['Country_Region']=='China']
    china_original_prov = set(check['Province_State'])
    china_gdp_prov = set(gdp_china_province.Province_State)

    orig_minus_gdp = china_original_prov.difference(china_gdp_prov)
    gdp_minus_orig = china_gdp_prov.difference(china_original_prov)

    china_original_prov = sorted(set(check['Province_State']))
    china_gdp_prov = sorted(set(gdp_china_province.Province_State))

    test_list = [china_gdp_prov, china_original_prov]
    for x, y in zip(*test_list): 
        print(x, y) # print(test_list)
    # print(china_gdp_prov)
    # print(china_original_prov)

    print('orig_minus_gdp: {}'.format(orig_minus_gdp))
    print('gdp_minus_orig: {}'.format(gdp_minus_orig))

data preprocessing functions

In [125]:

def standardize_original_names(df):
    df = df.replace({'Cape Verde': 'Cabo Verde',
                     'Timor-Leste': 'East Timor',
                     'Timor Leste': 'East Timor',
                     'Taiwan*': 'Taiwan',
                     'Myanmar': 'Burma'
                    })
    return df

# tableau_conf_data = standardize_original_names(tableau_conf_data)
# tableau_death_data = standardize_original_names(tableau_death_data)
# hopkins_conf_data = standardize_original_names(hopkins_conf_data)
# hopkins_death_data = standardize_original_names(hopkins_death_data)

In [126]:
index_dict = {
    'gdp_country': 'Country_Region',
    'gdp_us_state': 'Province_State',
    'gdp_china_province': 'Province_State',
    'tests_us_state' : 'Province_State',
    'urban_country': 'Country_Region',
    'urban_us_state': 'Province_State',
    'urban_china_province': 'Province_State'
}

    
# # setting indices for more convenient access in lambda funtion in add_gdp_urban function
# gdp_country = gdp_country.set_index(index_dict['gdp_country'])
# gdp_us_state = gdp_us_state.set_index(index_dict['gdp_us_state'])
# urban_country = urban_country.set_index(index_dict['urban_country'])
# urban_us_state = urban_us_state.set_index(index_dict['urban_us_state'])

In [127]:
def standardize_external_names(external_df):
    external_df = external_df.replace({
        'United States': 'US',
        'Iran, Islamic Rep.': 'Iran',
        'Congo, Rep.': 'Congo (Brazzaville)',
        'Congo, Dem. Rep.': 'Congo (Kinshasa)',
        'St. Lucia': 'Saint Lucia',
        'Czech Republic':'Czechia',
        'Kyrgyz Republic': 'Kyrgyzstan',
        'Egypt, Arab Rep.': 'Egypt',
        'Syrian Arab Republic': 'Syria',
    #     'Cabo Verde': 'Cape Verde',
        'Brunei Darussalam': 'Brunei',
        'Slovak Republic': 'Slovakia',
        'Russian Federation': 'Russia',
        'Korea, Rep.': 'Korea, South',
        'Timor Leste': 'East Timor',
        'Timor-Leste': 'East Timor',
        'Venezuela, RB': 'Venezuela',
        'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
        'Gambia, The': 'Gambia',
        'St. Kitts and Nevis': 'Saint Kitts and Nevis',
        'Myanmar': 'Burma',
        'Bahamas, The': 'Bahamas'
        })
    return external_df

# gdp_country = standardize_external_names(gdp_country)
# urban_country = standardize_external_names(urban_country)

this is where the magic happens

In [157]:
# def add_gdp_urban(original, gdp_country, gdp_us_state, gdp_china_province, urban_country, urban_us_state, urban_china_province):
def add_gdp_urban(original, gdp_country, gdp_us_state, urban_country, urban_us_state, tests_us_state):
    
    original = standardize_original_names(original)

    gdp_country = standardize_external_names(gdp_country)
    urban_country = standardize_external_names(urban_country)
    tests_us_state = standardize_us_states_names(tests_us_state)

    # setting indices for more convenient access in lambda funtion below
    gdp_country = gdp_country.set_index(index_dict['gdp_country'])
    gdp_us_state = gdp_us_state.set_index(index_dict['gdp_us_state'])
#     gdp_china_province = gdp_us_state.set_index(index_dict['gdp_china_province'])
    urban_country = urban_country.set_index(index_dict['urban_country'])
    urban_us_state = urban_us_state.set_index(index_dict['urban_us_state'])
#     urban_china_province = urban_china_province.set_index(index_dict['urban_china_state'])
    tests_us_state = tests_us_state.set_index('Province_State')



#     for df in [gdp_country, urban_country]:
#         df.set_index('Country_Region')
    
#     for df in [gdp_us_state, urban_us_state, tests_us_state]:
#         df.set_index('Province_State')
        
        

    # if there is no state data, take country data, and if there is also no country data, put NaN
    original['GDP'] = original.apply(lambda row: gdp_us_state.loc[row['Province_State'],'GDP'] if row['Province_State'] in list(gdp_us_state.index) else (gdp_country.loc[row['Country_Region'],'GDP'] if row['Country_Region'] in list(gdp_country.index) else np.NaN), axis=1) 
    original['Urbanization'] = original.apply(lambda row: urban_us_state.loc[row['Province_State'],'Urbanization'] if row['Province_State'] in list(urban_us_state.index) else (urban_country.loc[row['Country_Region'],'Urbanization'] if row['Country_Region'] in list(urban_country.index) else np.NaN), axis=1)

# new try
#     original['GDP'] = original.apply(lambda row: (gdp_country.loc[row['Country_Region'],'GDP'] if row['Country_Region'] in list(gdp_country.index) else gdp_us_state.loc[row['Province_State'],'GDP'] if row['Province_State'] in list(gdp_us_state.index) else np.NaN), axis=1) 
#     original['Urbanization'] = original.apply(lambda row: (urban_country.loc[row['Country_Region'],'Urbanization'] if row['Country_Region'] in list(urban_country.index) else urban_us_state.loc[row['Province_State'],'Urbanization'] if row['Province_State'] in list(urban_us_state.index) else np.NaN), axis=1)
    
    # if there is no state data, put NaN
    original['Num of Tests'] = original.apply(lambda row: tests_us_state.loc[row['Province_State'],'Num of Tests'] if row['Province_State'] in list(tests_us_state.index) else np.NaN, axis=1)

    new_columns = list(original.columns)

    prev_GDP = new_columns.index('GDP')
    prev_urban = new_columns.index('Urbanization')
    prev_tests = new_columns.index('Num of Tests')
    
    new_GDP = new_columns.index('Country_Region') + 1
    new_urban = new_GDP + 1
    new_tests = new_urban + 1

    new_columns.insert(new_GDP, new_columns.pop(prev_GDP))
    new_columns.insert(new_urban, new_columns.pop(prev_urban))
    new_columns.insert(new_tests, new_columns.pop(prev_tests))
    
    return original[new_columns]
#     return original

In [150]:

# pd.set_option('display.max_columns', None)

# new_tableau_conf = add_gdp_urban(tableau_conf_data, gdp_country, gdp_us_state, urban_country, urban_us_state)
# new_tableau_conf.head(5)

In [151]:
# new_tableau_conf.to_csv('../augmented_datasets/tableau_conf_augmented_gdp_urban.csv')

In [152]:
# new_tableau_death = add_gdp_urban(tableau_death_data, gdp_country, gdp_us_state, urban_country, urban_us_state)

In [153]:
# new_tableau_death.to_csv('../augmented_datasets/tableau_death_augmented_gdp_urban.csv')

In [161]:
new_hopkins_conf = add_gdp_urban(hopkins_conf, gdp_country, gdp_all_provinces, urban_country, urban_all_provinces, tests_us_state)
new_hopkins_conf

                                                Province_State  \
coordinate           information
(-51.7963, -59.5236) data          Falkland Islands (Malvinas)
                     avg_d_RH                              NaN
                     avg_d_precip                          NaN
                     avg_d_tmp                             NaN
                     avg_d_wind                            NaN
...                                                        ...
(71.7069, -42.6043)  data                            Greenland
                     avg_d_RH                              NaN
                     avg_d_precip                          NaN
                     avg_d_tmp                             NaN
                     avg_d_wind                            NaN

                                   Country_Region          GDP  Urbanization  \
coordinate           information
(-51.7963, -59.5236) data          United Kingdom  42943.90227        83.398
                     avg_d_RH                 NaN          NaN           NaN
                     avg_d_precip             NaN          NaN           NaN
                     avg_d_tmp                NaN          NaN           NaN
                     avg_d_wind               NaN          NaN           NaN
...                                           ...          ...           ...
(71.7069, -42.6043)  data                 Denmark  61350.34791        87.874
                     avg_d_RH                 NaN          NaN           NaN
                     avg_d_precip             NaN          NaN           NaN
                     avg_d_tmp                NaN          NaN           NaN
                     avg_d_wind               NaN          NaN           NaN

                                   Num of Tests  avg_m_tmp  avg_m_RH  \
coordinate           information
(-51.7963, -59.5236) data                   NaN  10.818182  76.00000
                     avg_d_RH               NaN        NaN       NaN
                     avg_d_precip           NaN        NaN       NaN
                     avg_d_tmp              NaN        NaN       NaN
                     avg_d_wind             NaN        NaN       NaN
...                                         ...        ...       ...
(71.7069, -42.6043)  data                   NaN -14.857143  61.12987
                     avg_d_RH               NaN        NaN       NaN
                     avg_d_precip           NaN        NaN       NaN
                     avg_d_tmp              NaN        NaN       NaN
                     avg_d_wind             NaN        NaN       NaN

                                   avg_m_precip  avg_m_wind  Max_Cases  ...  \
coordinate           information                                        ...
(-51.7963, -59.5236) data                   0.0   29.736364        2.0  ...
                     avg_d_RH               NaN         NaN        NaN  ...
                     avg_d_precip           NaN         NaN        NaN  ...
                     avg_d_tmp              NaN         NaN        NaN  ...
                     avg_d_wind             NaN         NaN        NaN  ...
...                                         ...         ...        ...  ...
(71.7069, -42.6043)  data                   0.0   16.090909       11.0  ...
                     avg_d_RH               NaN         NaN        NaN  ...
                     avg_d_precip           NaN         NaN        NaN  ...
                     avg_d_tmp              NaN         NaN        NaN  ...
                     avg_d_wind             NaN         NaN        NaN  ...

                                   3/29/2020 3/30/2020 3/31/2020 4/1/2020  \
coordinate           information
(-51.7963, -59.5236) data                0.0       0.0       0.0      0.0
                     avg_d_RH           80.0      75.0      68.0     79.0
                     avg_d_precip        0.0       0.0       0.0      0.0
                     avg_d_tmp           7.5       9.1      10.3      9.5
                     avg_d_wind         19.3      29.5      28.1     10.8
...                                      ...       ...       ...      ...
(71.7069, -42.6043)  data               10.0      10.0      10.0     10.0
                     avg_d_RH           90.0      79.0      73.0     60.0
                     avg_d_precip        0.0       0.0       0.0      0.0
                     avg_d_tmp          -0.9      -5.4     -12.1    -17.2
                     avg_d_wind          9.3      21.5      31.3     15.6

                                   4/2/2020  4/3/2020  4/4/2020  4/5/2020  \
coordinate           information
(-51.7963, -59.5236) data               0.0       0.0       1.0       2.0
                     avg_d_RH          61.0      89.0      80.0      83.0
                     avg_d_precip       0.0       0.0       0.0       0.0
                     avg_d_tmp         11.0      11.0       7.8       8.4
                     avg_d_wind        32.1      35.5      37.7      31.6
...                                     ...       ...       ...       ...
(71.7069, -42.6043)  data              10.0      10.0      11.0      11.0
                     avg_d_RH          49.0      64.0      55.0      45.0
                     avg_d_precip       0.0       0.0       0.0       0.0
                     avg_d_tmp        -17.9     -13.6     -12.5     -11.6
                     avg_d_wind        10.9      10.4      31.0      40.5

                                   4/6/2020  4/7/2020
coordinate           information
(-51.7963, -59.5236) data               2.0       2.0
                     avg_d_RH          76.0      58.0
                     avg_d_precip       0.0       0.0
                     avg_d_tmp          6.1      12.5
                     avg_d_wind        20.7      25.8
...                                     ...       ...
(71.7069, -42.6043)  data              11.0      11.0
                     avg_d_RH          46.0      62.0
                     avg_d_precip       0.0       0.0
                     avg_d_tmp        -10.5      -8.9
                     avg_d_wind        27.3      17.5

[16985 rows x 96 columns]

In [162]:
new_hopkins_conf[new_hopkins_conf['Country_Region']=='US']

,,Province_State,Country_Region,GDP,Urbanization,Num of Tests,avg_m_tmp,avg_m_RH,avg_m_precip,avg_m_wind,Max_Cases,...,3/29/2020,3/30/2020,3/31/2020,4/1/2020,4/2/2020,4/3/2020,4/4/2020,4/5/2020,4/6/2020,4/7/2020
coordinate,information,,,,,,,,,,,,,,,,,,,,,
"(-14.271, -170.132)",data,American Samoa,US,62794.58565,18.243,20.0,27.972368,81.934211,0.000000,10.343421,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"(13.4443, 144.7937)",data,Guam,US,62794.58565,94.780,946.0,26.877922,74.025974,1.830779,21.722078,121.0,...,56.0,58.0,69.0,77.0,82.0,84.0,93.0,112.0,113.0,121.0
"(15.0979, 145.6739)",data,Northern Mariana Islands,US,62794.58565,91.618,47.0,27.176623,72.714286,1.008571,25.103896,6.0,...,0.0,0.0,2.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
"(18.2208, -66.5901)",data,Puerto Rico,US,62794.58565,93.578,8529.0,25.748052,75.051948,5.960390,14.240260,573.0,...,127.0,174.0,239.0,286.0,316.0,316.0,452.0,475.0,513.0,573.0
"(18.3358, -64.8963)",data,Virgin Islands,US,62794.58565,95.721,400.0,25.875000,72.789474,1.854079,15.832895,43.0,...,23.0,30.0,30.0,30.0,30.0,37.0,40.0,42.0,43.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(64.80726247, -146.5692662)",data,Alaska,US,73205.00000,66.000,7830.0,-16.824675,69.103896,0.201299,4.989610,65.0,...,23.0,28.0,30.0,35.0,40.0,42.0,46.0,53.0,53.0,65.0
"(64.90320724, -164.0353804)",data,Alaska,US,73205.00000,66.000,7830.0,-15.850704,76.704225,0.010704,17.811268,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"(65.50815459, -151.3907387)",data,Alaska,US,73205.00000,66.000,7830.0,-18.372727,69.233766,0.000000,7.766234,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
"(67.04919196, -159.7503946)",data,Alaska,US,73205.00000,66.000,7830.0,-19.696104,75.750000,0.194545,11.298701,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"(69.31479216, -153.4836093)",data,Alaska,US,73205.00000,66.000,7830.0,-27.750649,80.890909,0.000000,17.296104,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [134]:
# Checking that all entries with Country_Region data have gdp and urbanization data

check = new_hopkins_conf[new_hopkins_conf['Urbanization'].isna()]
check = check[check['Country_Region'].notna()]
check
# print (check.shape[0])

# check = new_hopkins_conf[new_hopkins_conf['GDP'].isna()]
# check = check[check['Country_Region'].notna()]
# print (check.shape[0])

,,Province_State,Country_Region,avg_m_tmp,avg_m_RH,avg_m_precip,avg_m_wind,Max_Cases,first_7,last relevant date,Max_Date,...,4/1/2020,4/2/2020,4/3/2020,4/4/2020,4/5/2020,4/6/2020,4/7/2020,GDP,Urbanization,Num of Tests
coordinate,information,,,,,,,,,,,,,,,,,,,,,
"(-51.7963, -59.5236)",data,Falkland Islands (Malvinas),United Kingdom,10.818182,76.000000,0.000000,29.736364,2.0,NaN,,4/5/2020,...,0.0,0.0,0.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN
"(-41.4545, 145.9707)",data,Tasmania,Australia,15.105195,70.402597,0.000000,18.087013,89.0,1.000000,4/7/2020,4/7/2020,...,69.0,72.0,74.0,80.0,82.0,86.0,89.0,NaN,NaN,NaN
"(-40.9006, 174.886)",data,NaN,New Zealand,17.279221,76.181818,0.000000,26.148052,1160.0,3.421569,4/7/2020,4/7/2020,...,708.0,797.0,868.0,950.0,1039.0,1106.0,1160.0,NaN,NaN,NaN
"(-38.4161, -63.6167)",data,NaN,Argentina,21.998701,45.376623,0.000000,10.098701,1628.0,2.989691,4/7/2020,4/7/2020,...,1054.0,1133.0,1265.0,1451.0,1451.0,1554.0,1628.0,NaN,NaN,NaN
"(-37.8136, 144.9631)",data,Victoria,Australia,18.245455,71.363636,0.000000,17.449351,1191.0,4.000000,4/7/2020,4/7/2020,...,968.0,1036.0,1085.0,1115.0,1135.0,1158.0,1191.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(64.9631, -19.0208)",data,NaN,Iceland,-1.909459,77.459459,0.000000,17.535135,1586.0,1.588235,4/7/2020,4/7/2020,...,1220.0,1319.0,1364.0,1417.0,1486.0,1562.0,1586.0,NaN,NaN,NaN
"(65.50815459, -151.3907387)",data,Alaska,US,-18.372727,69.233766,0.000000,7.766234,1.0,NaN,,4/3/2020,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
"(67.04919196, -159.7503946)",data,Alaska,US,-19.696104,75.750000,0.194545,11.298701,0.0,NaN,,1/22/2020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
"(69.31479216, -153.4836093)",data,Alaska,US,-27.750649,80.890909,0.000000,17.296104,0.0,NaN,,1/22/2020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
"(71.7069, -42.6043)",data,Greenland,Denmark,-14.857143,61.129870,0.000000,16.090909,11.0,NaN,,4/4/2020,...,10.0,10.0,10.0,11.0,11.0,11.0,11.0,NaN,NaN,NaN

In [135]:
check = new_hopkins_conf[new_hopkins_conf['GDP'].isna()]
check = check[check['Country_Region'].notna()]
check
# print (check.shape[0])

,,Province_State,Country_Region,avg_m_tmp,avg_m_RH,avg_m_precip,avg_m_wind,Max_Cases,first_7,last relevant date,Max_Date,...,4/1/2020,4/2/2020,4/3/2020,4/4/2020,4/5/2020,4/6/2020,4/7/2020,GDP,Urbanization,Num of Tests
coordinate,information,,,,,,,,,,,,,,,,,,,,,
"(-51.7963, -59.5236)",data,Falkland Islands (Malvinas),United Kingdom,10.818182,76.000000,0.000000,29.736364,2.0,NaN,,4/5/2020,...,0.0,0.0,0.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN
"(-41.4545, 145.9707)",data,Tasmania,Australia,15.105195,70.402597,0.000000,18.087013,89.0,1.000000,4/7/2020,4/7/2020,...,69.0,72.0,74.0,80.0,82.0,86.0,89.0,NaN,NaN,NaN
"(-40.9006, 174.886)",data,NaN,New Zealand,17.279221,76.181818,0.000000,26.148052,1160.0,3.421569,4/7/2020,4/7/2020,...,708.0,797.0,868.0,950.0,1039.0,1106.0,1160.0,NaN,NaN,NaN
"(-38.4161, -63.6167)",data,NaN,Argentina,21.998701,45.376623,0.000000,10.098701,1628.0,2.989691,4/7/2020,4/7/2020,...,1054.0,1133.0,1265.0,1451.0,1451.0,1554.0,1628.0,NaN,NaN,NaN
"(-37.8136, 144.9631)",data,Victoria,Australia,18.245455,71.363636,0.000000,17.449351,1191.0,4.000000,4/7/2020,4/7/2020,...,968.0,1036.0,1085.0,1115.0,1135.0,1158.0,1191.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(64.9631, -19.0208)",data,NaN,Iceland,-1.909459,77.459459,0.000000,17.535135,1586.0,1.588235,4/7/2020,4/7/2020,...,1220.0,1319.0,1364.0,1417.0,1486.0,1562.0,1586.0,NaN,NaN,NaN
"(65.50815459, -151.3907387)",data,Alaska,US,-18.372727,69.233766,0.000000,7.766234,1.0,NaN,,4/3/2020,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
"(67.04919196, -159.7503946)",data,Alaska,US,-19.696104,75.750000,0.194545,11.298701,0.0,NaN,,1/22/2020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
"(69.31479216, -153.4836093)",data,Alaska,US,-27.750649,80.890909,0.000000,17.296104,0.0,NaN,,1/22/2020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
"(71.7069, -42.6043)",data,Greenland,Denmark,-14.857143,61.129870,0.000000,16.090909,11.0,NaN,,4/4/2020,...,10.0,10.0,10.0,11.0,11.0,11.0,11.0,NaN,NaN,NaN

In [136]:
# Checking that our starting data has no nan country_region entries in 'data' rows
print('Original df dimensions: {}'.format(hopkins_conf.shape))
check = pd.DataFrame(hopkins_conf.xs('data', level='information', axis=0))
print('Only \'data\' rows dimensions: {}'.format(check.shape))
# check = hopkins_conf[hopkins_conf['information']=='data']
check = check[check['Country_Region'].isna()]

print('\'data\' rows with NaN Country_Region column dimensions: {}'.format(check.shape))

# check = new_hopkins_conf[new_hopkins_conf['GDP'].isna()]
# check = check[check['Country_Region'].notna()]
# print (check.shape[0])

Original df dimensions: (16985, 93)
Only 'data' rows dimensions: (3397, 93)
'data' rows with NaN Country_Region column dimensions: (0, 93)

In [137]:
# Checking that our starting data has no nan country_region entries in 'data' rows
print('Original df dimensions: {}'.format(new_hopkins_conf.shape))
check = pd.DataFrame(new_hopkins_conf.xs('data', level='information', axis=0))
check
# print('Only \'data\' rows dimensions: {}'.format(check.shape))
# # check = hopkins_conf[hopkins_conf['information']=='data']
# check = check[check['GDP'].isna()]

# print('\'data\' rows with NaN Country_Region column dimensions: {}'.format(check.shape))

# # check = new_hopkins_conf[new_hopkins_conf['GDP'].isna()]
# # check = check[check['Country_Region'].notna()]
# # print (check.shape[0])

Original df dimensions: (16985, 96)

,Province_State,Country_Region,avg_m_tmp,avg_m_RH,avg_m_precip,avg_m_wind,Max_Cases,first_7,last relevant date,Max_Date,...,4/1/2020,4/2/2020,4/3/2020,4/4/2020,4/5/2020,4/6/2020,4/7/2020,GDP,Urbanization,Num of Tests
coordinate,,,,,,,,,,,,,,,,,,,,,
"(-51.7963, -59.5236)",Falkland Islands (Malvinas),United Kingdom,10.818182,76.000000,0.000000,29.736364,2.0,NaN,,4/5/2020,...,0.0,0.0,0.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN
"(-41.4545, 145.9707)",Tasmania,Australia,15.105195,70.402597,0.000000,18.087013,89.0,1.000000,4/7/2020,4/7/2020,...,69.0,72.0,74.0,80.0,82.0,86.0,89.0,NaN,NaN,NaN
"(-40.9006, 174.886)",NaN,New Zealand,17.279221,76.181818,0.000000,26.148052,1160.0,3.421569,4/7/2020,4/7/2020,...,708.0,797.0,868.0,950.0,1039.0,1106.0,1160.0,NaN,NaN,NaN
"(-38.4161, -63.6167)",NaN,Argentina,21.998701,45.376623,0.000000,10.098701,1628.0,2.989691,4/7/2020,4/7/2020,...,1054.0,1133.0,1265.0,1451.0,1451.0,1554.0,1628.0,NaN,NaN,NaN
"(-37.8136, 144.9631)",Victoria,Australia,18.245455,71.363636,0.000000,17.449351,1191.0,4.000000,4/7/2020,4/7/2020,...,968.0,1036.0,1085.0,1115.0,1135.0,1158.0,1191.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(64.9631, -19.0208)",NaN,Iceland,-1.909459,77.459459,0.000000,17.535135,1586.0,1.588235,4/7/2020,4/7/2020,...,1220.0,1319.0,1364.0,1417.0,1486.0,1562.0,1586.0,NaN,NaN,NaN
"(65.50815459, -151.3907387)",Alaska,US,-18.372727,69.233766,0.000000,7.766234,1.0,NaN,,4/3/2020,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
"(67.04919196, -159.7503946)",Alaska,US,-19.696104,75.750000,0.194545,11.298701,0.0,NaN,,1/22/2020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
"(69.31479216, -153.4836093)",Alaska,US,-27.750649,80.890909,0.000000,17.296104,0.0,NaN,,1/22/2020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
"(71.7069, -42.6043)",Greenland,Denmark,-14.857143,61.129870,0.000000,16.090909,11.0,NaN,,4/4/2020,...,10.0,10.0,10.0,11.0,11.0,11.0,11.0,NaN,NaN,NaN

In [138]:
# hopkins_conf[hopkins_conf.Province_State.notna()]

In [139]:
check = new_hopkins_conf[new_hopkins_conf['Country_Region'] == 'China']
check.head(20)

,,Province_State,Country_Region,avg_m_tmp,avg_m_RH,avg_m_precip,avg_m_wind,Max_Cases,first_7,last relevant date,Max_Date,...,4/1/2020,4/2/2020,4/3/2020,4/4/2020,4/5/2020,4/6/2020,4/7/2020,GDP,Urbanization,Num of Tests
coordinate,information,,,,,,,,,,,,,,,,,,,,,
"(19.1959, 109.7453)",data,Hainan,China,24.772727,74.259740,0.0,13.100000,168.0,1.736842,2/20/2020,2/19/2020,...,168.0,168.0,168.0,168.0,168.0,168.0,168.0,NaN,NaN,NaN
"(22.1667, 113.55)",data,Macau,China,18.938961,85.337662,0.0,16.677922,44.0,0.400000,4/6/2020,4/5/2020,...,41.0,41.0,43.0,43.0,44.0,44.0,44.0,NaN,NaN,NaN
"(22.3, 114.2)",data,Hong Kong,China,20.033766,73.935065,0.0,17.702597,935.0,0.224490,4/7/2020,4/7/2020,...,765.0,802.0,845.0,862.0,890.0,914.0,935.0,NaN,NaN,NaN
"(23.3417, 113.4244)",data,Guangdong,China,18.276623,71.454545,0.0,9.233766,1533.0,4.589744,2/16/2020,4/7/2020,...,1501.0,1507.0,1514.0,1516.0,1524.0,1532.0,1533.0,NaN,NaN,NaN
"(23.8298, 108.7881)",data,Guangxi,China,17.733766,81.805195,0.0,8.692208,254.0,2.391304,2/16/2020,3/20/2020,...,254.0,254.0,254.0,254.0,254.0,254.0,254.0,NaN,NaN,NaN
"(24.974, 101.487)",data,Yunnan,China,12.279221,62.831169,0.0,19.741558,184.0,6.545455,2/16/2020,4/3/2020,...,182.0,183.0,184.0,184.0,184.0,184.0,184.0,NaN,NaN,NaN
"(26.0789, 117.9874)",data,Fujian,China,14.093506,76.987013,0.0,13.731169,351.0,5.666667,3/23/2020,4/7/2020,...,345.0,345.0,349.0,350.0,350.0,350.0,351.0,NaN,NaN,NaN
"(26.8154, 106.8748)",data,Guizhou,China,10.597403,79.246753,0.0,11.564935,147.0,4.111111,2/16/2020,3/17/2020,...,146.0,146.0,146.0,146.0,146.0,146.0,146.0,NaN,NaN,NaN
"(27.6104, 111.7088)",data,Hunan,China,12.079221,83.701299,0.0,10.138961,1019.0,4.637681,2/15/2020,4/2/2020,...,1018.0,1019.0,1019.0,1019.0,1019.0,1019.0,1019.0,NaN,NaN,NaN
"(27.614, 115.7221)",data,Jiangxi,China,12.079221,83.701299,0.0,10.138961,937.0,3.625000,2/15/2020,3/29/2020,...,937.0,937.0,937.0,937.0,937.0,937.0,937.0,NaN,NaN,NaN
"(29.1832, 120.0934)",data,Zhejiang,China,11.163636,74.727273,0.0,9.318182,1265.0,4.759615,2/22/2020,4/7/2020,...,1257.0,1258.0,1260.0,1262.0,1263.0,1264.0,1265.0,NaN,NaN,NaN
"(30.0572, 107.874)",data,Chongqing,China,12.471429,77.194805,0.0,8.732468,579.0,2.701754,2/14/2020,3/29/2020,...,579.0,579.0,579.0,579.0,579.0,579.0,579.0,NaN,NaN,NaN
"(30.6171, 102.7103)",data,Sichuan,China,13.148052,67.584416,0.0,5.525974,560.0,5.321429,2/19/2020,4/7/2020,...,552.0,554.0,555.0,557.0,558.0,559.0,560.0,NaN,NaN,NaN
"(30.9756, 112.2707)",data,Hubei,China,11.238961,73.350649,0.0,9.244156,67803.0,2.804727,2/23/2020,4/4/2020,...,67802.0,67802.0,67802.0,67803.0,67803.0,67803.0,67803.0,NaN,NaN,NaN
"(31.202, 121.4491)",data,Shanghai,China,10.915584,69.298701,0.0,14.116883,538.0,3.090909,4/1/2020,4/7/2020,...,516.0,522.0,526.0,529.0,531.0,536.0,538.0,NaN,NaN,NaN
"(31.6927, 88.0924)",data,Tibet,China,10.808000,48.040000,0.0,13.308000,1.0,NaN,,1/30/2020,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
"(31.8257, 117.2264)",data,Anhui,China,9.880519,74.922078,0.0,11.850649,990.0,3.950000,2/15/2020,2/28/2020,...,990.0,990.0,990.0,990.0,990.0,990.0,990.0,NaN,NaN,NaN
"(32.9711, 119.455)",data,Jiangsu,China,9.851948,75.545455,0.0,9.744156,651.0,5.121212,2/17/2020,4/3/2020,...,646.0,647.0,651.0,651.0,651.0,651.0,651.0,NaN,NaN,NaN
"(33.882, 113.614)",data,Henan,China,8.790909,60.519481,0.0,10.018182,1276.0,4.084337,2/16/2020,3/29/2020,...,1276.0,1276.0,1276.0,1276.0,1276.0,1276.0,1276.0,NaN,NaN,NaN
"(35.1917, 108.8701)",data,Shaanxi,China,7.377922,61.246753,0.0,8.298701,256.0,4.800000,2/13/2020,4/4/2020,...,255.0,255.0,255.0,256.0,256.0,256.0,256.0,NaN,NaN,NaN

In [140]:
with open(RESULT_PATH, 'wb') as file:
    pickle.dump(new_hopkins_conf, file)

In [141]:
test = pd.DataFrame()
with open(RESULT_PATH, 'rb') as file:
    test = pd.read_pickle(file)    
test

                                                Province_State  \
coordinate           information
(-51.7963, -59.5236) data          Falkland Islands (Malvinas)
                     avg_d_RH                              NaN
                     avg_d_precip                          NaN
                     avg_d_tmp                             NaN
                     avg_d_wind                            NaN
...                                                        ...
(71.7069, -42.6043)  data                            Greenland
                     avg_d_RH                              NaN
                     avg_d_precip                          NaN
                     avg_d_tmp                             NaN
                     avg_d_wind                            NaN

                                   Country_Region  avg_m_tmp  avg_m_RH  \
coordinate           information
(-51.7963, -59.5236) data          United Kingdom  10.818182  76.00000
                     avg_d_RH                 NaN        NaN       NaN
                     avg_d_precip             NaN        NaN       NaN
                     avg_d_tmp                NaN        NaN       NaN
                     avg_d_wind               NaN        NaN       NaN
...                                           ...        ...       ...
(71.7069, -42.6043)  data                 Denmark -14.857143  61.12987
                     avg_d_RH                 NaN        NaN       NaN
                     avg_d_precip             NaN        NaN       NaN
                     avg_d_tmp                NaN        NaN       NaN
                     avg_d_wind               NaN        NaN       NaN

                                   avg_m_precip  avg_m_wind  Max_Cases  \
coordinate           information
(-51.7963, -59.5236) data                   0.0   29.736364        2.0
                     avg_d_RH               NaN         NaN        NaN
                     avg_d_precip           NaN         NaN        NaN
                     avg_d_tmp              NaN         NaN        NaN
                     avg_d_wind             NaN         NaN        NaN
...                                         ...         ...        ...
(71.7069, -42.6043)  data                   0.0   16.090909       11.0
                     avg_d_RH               NaN         NaN        NaN
                     avg_d_precip           NaN         NaN        NaN
                     avg_d_tmp              NaN         NaN        NaN
                     avg_d_wind             NaN         NaN        NaN

                                   first_7 last relevant date  Max_Date  ...  \
coordinate           information                                         ...
(-51.7963, -59.5236) data              NaN                     4/5/2020  ...
                     avg_d_RH          NaN                               ...
                     avg_d_precip      NaN                               ...
                     avg_d_tmp         NaN                               ...
                     avg_d_wind        NaN                               ...
...                                    ...                ...       ...  ...
(71.7069, -42.6043)  data              NaN                     4/4/2020  ...
                     avg_d_RH          NaN                               ...
                     avg_d_precip      NaN                               ...
                     avg_d_tmp         NaN                               ...
                     avg_d_wind        NaN                               ...

                                  4/1/2020  4/2/2020  4/3/2020  4/4/2020  \
coordinate           information
(-51.7963, -59.5236) data              0.0       0.0       0.0       1.0
                     avg_d_RH         79.0      61.0      89.0      80.0
                     avg_d_precip      0.0       0.0       0.0       0.0
                     avg_d_tmp         9.5      11.0      11.0       7.8
                     avg_d_wind       10.8      32.1      35.5      37.7
...                                    ...       ...       ...       ...
(71.7069, -42.6043)  data             10.0      10.0      10.0      11.0
                     avg_d_RH         60.0      49.0      64.0      55.0
                     avg_d_precip      0.0       0.0       0.0       0.0
                     avg_d_tmp       -17.2     -17.9     -13.6     -12.5
                     avg_d_wind       15.6      10.9      10.4      31.0

                                   4/5/2020  4/6/2020  4/7/2020  GDP  \
coordinate           information
(-51.7963, -59.5236) data               2.0       2.0       2.0  NaN
                     avg_d_RH          83.0      76.0      58.0  NaN
                     avg_d_precip       0.0       0.0       0.0  NaN
                     avg_d_tmp          8.4       6.1      12.5  NaN
                     avg_d_wind        31.6      20.7      25.8  NaN
...                                     ...       ...       ...  ...
(71.7069, -42.6043)  data              11.0      11.0      11.0  NaN
                     avg_d_RH          45.0      46.0      62.0  NaN
                     avg_d_precip       0.0       0.0       0.0  NaN
                     avg_d_tmp        -11.6     -10.5      -8.9  NaN
                     avg_d_wind        40.5      27.3      17.5  NaN

                                   Urbanization  Num of Tests
coordinate           information
(-51.7963, -59.5236) data                   NaN           NaN
                     avg_d_RH               NaN           NaN
                     avg_d_precip           NaN           NaN
                     avg_d_tmp              NaN           NaN
                     avg_d_wind             NaN           NaN
...                                         ...           ...
(71.7069, -42.6043)  data                   NaN           NaN
                     avg_d_RH               NaN           NaN
                     avg_d_precip           NaN           NaN
                     avg_d_tmp              NaN           NaN
                     avg_d_wind             NaN           NaN

[16985 rows x 96 columns]

In [461]:
# new_hopkins_conf.to_csv('../augmented_datasets/hopkins_conf_augmented_gdp_urban.csv')

In [462]:
# new_hopkins_death = add_gdp_urban(hopkins_conf, gdp_country, gdp_us_state, urban_country, urban_us_state)

In [ ]:
# new_hopkins_death.to_csv('../augmented_datasets/hopkins_death_augmented_gdp_urban.csv')